*.jl.cov
*.jl.*.cov
*.jl.mem
deps/downloads/
deps/src/
deps/usr/
deps/build/
*.bsp
*.tls
deps/windows/build*
deps/windows/cspice*
deps/deps.jl
deps/windows/i686
deps/windows/x64
*.zip
deps/windows/usr/
