*.bsp
*.jl.*.cov
*.jl.cov
*.jl.mem
*.tls
*.zip
deps/build/
deps/deps.jl
deps/downloads/
deps/src/
deps/usr/
deps/windows/build*
deps/windows/cspice*
deps/windows/i686
deps/windows/usr/
deps/windows/x64
docs/build/
test/kernels/
deps/build.log
Manifest.toml
